body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  text-align: center;
  color: black;
  background-color: #e6cfd2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 35px;
  margin-bottom: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  text-align: center;
  color: black;
  background-color: #e6cfd2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 35px;
  margin-bottom: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

.modificandoMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-end; }

.buscador {
  position: relative;
  bottom: 100px; }

.buscadorBarra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 150px; }

.buscadorNuevo {
  align-self: center; }

.barraBuscador {
  width: 300px;
  height: 80px;
  border-radius: 10px; }

.anunciosFlex, .anunciosFlexSobreMi, .telefonos {
  padding: 3%;
  margin: 1%;
  width: 300px;
  border-style: solid;
  border-color: #90a7b0;
  border-radius: 8px;
  border-width: 5px;
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.1); }
  .anunciosFlex:hover, .anunciosFlexSobreMi:hover, .telefonos:hover {
    box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
    animation: pulse 1s; }

.anunciosFlexSobreMi, .telefonos {
  width: 400px;
  background-color: lightgray;
  border-color: #36385e; }

.telefonos {
  text-align: center;
  width: 260px;
  margin: 20px; }

.anunciosAcomodo, .anunciosAcomodoSobreMi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center; }

.anunciosFlex__icon {
  justify-self: center;
  margin-bottom: 20px; }

.tituloSobreMi, .tituloPhone {
  background-color: rgba(248, 248, 248, 0.25);
  color: #36385e;
  font-size: 50px;
  text-align: center; }

.sobreMi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 400px; }

.sobreMiIconos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px; }

.logInForm {
  background-color: #c7d882;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 100px; }

.or {
  color: black;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tablaContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid black;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #c7d882;
  position: relative;
  bottom: 90px; }

.registrar {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.mailForm, .registrar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #90a7b0;
  padding-bottom: 30px;
  position: relative;
  bottom: 100px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  background-color: #c7d882; }

.logoFooter {
  margin: 10px; }

.contact {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  align-content: space-around;
  position: relative;
  left: 20px;
  top: 20px; }

.divMail {
  padding-right: 30px;
  padding-left: 10px; }

.divPhone {
  padding-right: 20px; }

.imgRRSS:hover {
  transform: translateY(-20px);
  transition: all 1s; }

.iconosHover:hover {
  transform: translateY(-20px);
  transition: all 1s; }

body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  text-align: center;
  color: black;
  background-color: #e6cfd2;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 35px;
  margin-bottom: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

.buttonHome, .botonBusqueda, .botonRedes, .botonRedesNew, .botonEnviar, .botonRegistrar {
  width: 200px;
  background-color: #36385e;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: white; }

.buttonHome:hover, .botonBusqueda:hover, .botonRedes:hover, .botonRedesNew:hover, .botonEnviar:hover, .botonRegistrar:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.botonBusqueda {
  background-color: #90a7b0;
  width: 100px; }

.botonBusqueda:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.botonRedes, .botonRedesNew, .botonEnviar, .botonRegistrar {
  width: 100px;
  background-color: #90a7b0;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
  margin-left: 10px; }

.botonRedes:hover, .botonRedesNew:hover, .botonEnviar:hover, .botonRegistrar:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.botonRedesNew {
  position: relative;
  left: 24px; }

.botonRedesNew:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.botonEnviar, .botonRegistrar {
  margin-left: 0px;
  background-color: #e6cfd2;
  border: 2px solid white; }

.botonEnviar:hover, .botonRegistrar:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.botonRegistrar:hover {
  box-shadow: 5px 5px 21px -2px rgba(0, 0, 0, 0.25);
  animation: pulse 1s; }

.imagenHeader {
  width: 100%; }
