body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .frase, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  border: solid black;
  color: white;
  background-color: #e6cfd2;
  width: 250px;
  font-size: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .frase, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  border: solid black;
  color: white;
  background-color: #e6cfd2;
  width: 250px;
  font-size: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

.modificandoMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-end; }

.buscador {
  position: relative;
  bottom: 100px; }

.buscadorBarra {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px; }

.anunciosFlex {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around; }

.sobreMi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 150px; }

.logInForm {
  background-color: #c7d882;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  bottom: 100px; }

.or {
  color: black;
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.tablaContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid black;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #c7d882;
  position: relative;
  bottom: 90px; }

.registrar {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.mailForm, .registrar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #90a7b0;
  padding-bottom: 30px;
  position: relative;
  bottom: 100px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  margin-top: 50px;
  background-color: #c7d882; }

.contact {
  background-color: #c7d882;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  align-content: space-around;
  position: relative; }

.divMail {
  padding-right: 40px;
  padding-left: 10px; }

.divPhone {
  padding-right: 40px; }

.imgRRSS:hover {
  transform: translateY(-20px);
  transition: all 1s; }

body {
  background-color: white; }

.titulos {
  color: white;
  text-align: center;
  margin-top: 50px; }

.dondeVas {
  padding: 20px;
  color: white;
  text-align: center; }

.buscador {
  background-color: #c7d882;
  border: solid black; }

.alerts, .frase, .listing {
  width: 230px;
  color: white;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  padding: 10px;
  border: solid black;
  border-width: 4px; }

.frase {
  border: solid black;
  color: white;
  background-color: #e6cfd2;
  width: 250px;
  font-size: 50px; }

.divAbout, .divFaqs, .divHistory {
  text-align: justify;
  color: white;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #90a7b0;
  border: solid black;
  border-width: 5px;
  margin-bottom: 50px;
  padding: 40px; }

.divFaqs {
  background-color: #c7d882;
  color: black;
  border: 5px solid black; }
  .divFaqs ul li {
    list-style-type: none; }

.hrAboutUs {
  width: 200px;
  border: solid;
  color: black; }

.redes {
  border: solid black;
  background-color: #e6cfd2;
  border-width: 5px;
  padding: 20px; }

.mailForm, .registrar {
  color: white; }

.propiedadTituloTabla {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: arial;
  background-color: #36385e; }

.propiedadTabla {
  font-size: 30px;
  font-family: arial;
  color: black;
  background-color: #90a7b0; }

.buttonHome, .botonBusqueda, .botonRedes, .botonEnviar, .botonRegistrar {
  width: 200px;
  background-color: #36385e;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: white; }

.botonBusqueda {
  background-color: #90a7b0;
  width: 100px; }

.botonRedes, .botonEnviar, .botonRegistrar {
  width: 100px;
  background-color: #90a7b0;
  border: 2px solid black;
  color: white;
  border-radius: 10px;
  margin-left: 10px; }

.botonEnviar, .botonRegistrar {
  margin-left: 0px;
  background-color: #e6cfd2;
  border: 2px solid white; }

.imagenHeader {
  width: 100%; }
