@import "colores";
@mixin flex-row{
	display:flex;
	flex-direction:row;
}

@mixin flex-col{
	display:flex;
	flex-direction:column;
}
@mixin flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
@mixin position-relative{
	position: relative;
}
.modificandoMenu{
	@include flex-row-center;
	justify-content: flex-end;
}
.buscador{
	@include position-relative;
	bottom:100px;
}
.buscadorBarra{
	@include flex-row-center;
	margin-top: 50px;
	margin-bottom: 150px;
}
.anunciosFlex{
    margin-top: 50px;
	@include flex-row-center;
	justify-content: space-around;
}
.sobreMi{
	@include flex-col;
	align-items: center;
	justify-content: space-between;
	@include position-relative;
	bottom: 150px;
}
.logInForm{
	background-color: $verdeManzana;
	padding: 50px;
	@include flex-row-center;
	@include position-relative;
	bottom: 100px;

}
.or{
	color: black;
	font-size: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	width: 350px;
	padding: 20px;
	@include flex-col;
	justify-content: center;
}
.tablaContacto{
	@include flex-row-center;
	border: 5px solid black;
	padding: 20px;
	padding-bottom: 50px;
	background-color: $verdeManzana;
	@include position-relative;
	bottom: 90px;
}
.registrar{
	@include flex-row-center;
}
.mailForm{
	@include flex-row-center;
	background-color: $rosa;
	padding-bottom: 30px;
	@include position-relative;
	bottom: 100px;
}
footer{
	@include flex-row-center;
	justify-content: flex-start;
	margin-top: 50px;
	background-color: $verdeManzana;

}
.contact{
	background-color: $verdeManzana;
	padding: 10px;
	@include flex-row-center;
	justify-content: flex-start;
	align-content: space-around;
	position: relative;
}

.divMail{
	padding-right: 40px;
	padding-left: 10px;
}
.divPhone{
    padding-right: 40px;
}
.imgRRSS:hover{
	transform: translateY(-20px);
	transition: all 1s;
}