@import "colores";
@mixin flex-row{
	display:flex;
	flex-direction:row;
}

@mixin flex-col{
	display:flex;
	flex-direction:column;
}
@mixin flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
@mixin position-relative{
	position: relative;
}
.modificandoMenu{
	@include flex-row-center;
	justify-content: flex-end;
}
.buscador{
	@include position-relative;
	bottom:100px;
}
.buscadorBarra{
	@include flex-row-center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 150px;
}
.buscadorNuevo{
	align-self: center;
}
.barraBuscador{
	width: 300px;
	height: 80px;
	border-radius: 5px;
	text-align: center;
}
.anunciosFlex{
	padding: 3%;
	margin: 1%;
	width: 300px;
	border-style: solid;
	border-color: $rosa;
	border-radius: 8px;
	border-width: 5px;
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.1);

	&:hover{
		box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
		animation: pulse 1s;
	}
}
.anunciosFlexSobreMi{
	@extend .anunciosFlex;
	width: 400px;
	background-color: lightgray;
	border-color: $oscuro;
}
.telefonos{
	@extend .anunciosFlexSobreMi;
	text-align: center;
	width: 260px;
	margin: 20px;
}
.anunciosAcomodo{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
}
.anunciosAcomodoSobreMi{
	@extend.anunciosAcomodo;
}
.anunciosFlex__icon{
	justify-self: center;
	margin-bottom: 20px;
}
.tituloSobreMi{
	background-color: rgba(248, 248, 248, 0.25);
	color: $oscuro;
	font-size: 50px;
	text-align: center;

}
.tituloPhone{
	@extend .tituloSobreMi; 
}
.sobreMi{
	@include flex-col;
	align-items: center;
	justify-content: space-between;
	@include position-relative;
	bottom: 400px;
}
.sobreMiIconos{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 50px;

}
.logInForm{
	background-color: $verdeManzana;
	border: 3px solid black;
	padding: 50px;
	@include flex-row-center;
	@include position-relative;
	bottom: 100px;

}
.or{
	color: black;
	font-size: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	width: 350px;
	padding: 20px;
	@include flex-col;
	justify-content: center;
	@include position-relative;
	bottom: 90px;
}
.tablaContacto{
	@include flex-row-center;
	border: 5px solid black;
	padding: 20px;
	padding-bottom: 50px;
	background-color: $verdeManzana;
	@include position-relative;
	bottom: 90px;
}
.registrar{
	@include flex-row-center;
}
.mailForm{
	@include flex-row-center;
	background-color: $rosa;
	padding-bottom: 30px;
	@include position-relative;
	bottom: 100px;
}
footer{
	@include flex-row-center;
	justify-content: flex-start;
	background-color: $verdeManzana;

}
.footerFlex{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: space-between;
}
.logoFooter{
	margin: 10px;
	position: relative;
	right: 20px;
}
.contact{
	padding: 10px;
	@include flex-row-center;
	justify-content: flex-start;
	align-content: space-around;
	align-items: center;
}
.lema{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 40px;
	margin-top: 30px;
		
}

.divMail{
	padding-right: 30px;
	padding-left: 10px;
	
}
.divPhone{
    padding-right: 20px;
	
}
.divWsp{
	
}
.imgRRSS:hover{
	transform: translateY(-20px);
	transition: all 1s;
}
.iconosHover:hover{
	transform: translateY(-20px);
	transition: all 1s;
}