@import "colores";
.buttonHome{
	width:200px;
	background-color:$oscuro;
	border-radius:10px;
	text-align:center;
	padding:10px;
	font-size:18px;
	color:white;
}
.buttonHome:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.botonBusqueda{
	@extend .buttonHome;
	background-color: $rosa;
	width: 100px;
}
.botonBusqueda:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.botonRedes{
	@extend .buttonHome;
	width: 100px;
	background-color: $rosa;
	border: 2px solid black;
	color: white;
	border-radius: 10px;
	margin-left: 10px;
}
.botonRedes:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.botonRedesNew{
	@extend .botonRedes;
	position: relative;
	left: 24px;
}
.botonRedesNew:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.botonEnviar{
    @extend .botonRedes;
    margin-left: 0px;
    background-color: $verde;
    border: 2px solid white;
}
.botonEnviar:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.botonRegistrar{
	@extend .botonEnviar
}
.botonRegistrar:hover{
	box-shadow: 5px 5px 21px -2px rgba(0,0,0,0.25);
	animation: pulse 1s;
}
.imagenHeader{
	width: 100%;
}